langchain_core
langchain_openai
langchain_community
langchain_google_genai
pypdf
langchain_text_splitters
chromaDB
langchain_chroma
pysqlite3-binary
wikipedia
bs4
chromadb
chroma-migrate
groq
langchain_groq
langchainhub
fastapi
uvicorn
langchain_google_community
google-api-python-client
streamlit
